<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app Nodejs and mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium, excepturi inventore asperiores sapiente aliquam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, enim. Dolores hic quisquam, accusamus blanditiis voluptatibus quasi cupiditate iusto totam?</p>
    <a href="https://www.google.com" class="btn btn-primary">Google</a>
</div>
