    <h1>Navigation</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eveniet est eius saepe fuga tenetur, voluptatum minima soluta nemo, sapiente quos? Minus quas laborum dolor iusto dicta veniam id alias!</p>

    <h1>Footer</h1>